[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.3"
lxml = "~=4.9.1"
mypy = "==0.782"
hypothesis = "==5.16.1"
pytest-cov = "==2.10.0"
black = "==20.8b1"
py-spy = "*"

[packages]
attrs = ">=19.2.0"
opentelemetry-api = "==0.14b0"
opentelemetry-sdk = "==0.14b0"

[requires]
python_version = "3.8"
